

<settings>
	<!--<localRepository>file://${user.home}/.m2/repository</localRepository>-->
	<profiles>
		<profile>
			<id>venkat-profile</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>fusesource</id>
					<url>http://repo.fusesource.com/maven2</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>
				<repository>
					<id>fusesource.snapshot</id>
					<url>http://repo.fusesource.com/maven2-snapshot</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<releases>
						<enabled>false</enabled>
					</releases>
				</repository>
				<!--<repository>
					<id>apache-public</id>
					<url>https://repository.apache.org/content/groups/public/</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>-->
				<repository>
					<id>com.springsource.repository.bundles.external</id>
					<name>SpringSource Enterprise Bundle Repository - External Bundle Releases</name>
					<url>http://repository.springsource.com/maven/bundles/external</url>
				</repository>

				<repository>
					<id>com.springsource.repository.bundles.release</id>
					<name>SpringSource Enterprise Bundle Repository - SpringSource Bundle Releases</name>
					<url>http://repository.springsource.com/maven/bundles/release</url>
				</repository>

				<repository>
					<id>com.springsource.repository.bundles.milestone</id>
					<name>SpringSource Enterprise Bundle Repository - SpringSource Milestone Releases</name>
					<url>http://repository.springsource.com/maven/bundles/milestone</url>
				</repository>
			</repositories>
		</profile>
	</profiles>
</settings>
