<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Lab</display-name>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <filter>
        <filter-name>sessionfilter</filter-name>
        <filter-class>net.aegis.lab.web.action.security.SessionFilter</filter-class>
    </filter>

    <filter>
        <filter-name>workingparticipantfilter</filter-name>
        <filter-class>net.aegis.lab.web.action.nhinrep.WorkingParticipantFilter</filter-class>
    </filter>

    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
        <init-param>
            <param-name>actionPackages</param-name>
            <param-value>action</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>sessionfilter</filter-name>
        <url-pattern>/participant/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>workingparticipantfilter</filter-name>
        <url-pattern>/nhinrep/WorkingParticipant/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>sessionfilter</filter-name>
        <url-pattern>/nhinvalid/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>sessionfilter</filter-name>
        <url-pattern>/help/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>tiles</servlet-name>
        <servlet-class>org.apache.tiles.web.startup.TilesServlet</servlet-class>
        <init-param>
            <param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
            <param-value>/WEB-INF/tiles-defs.xml</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>ALL access</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
</web-app>
